.chartOptions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.chartOptions .option {
    height: auto;
    border: 1px solid blue;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
}