.applicationWrapper{
  max-width: 600px;
}

.footerHolder{
  position:fixed;
  left:0px;
  bottom:0px;
  height:50px;
  width:100%;
}
.footer {
  height: 50px;
  margin: auto;
  width:100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer .option{
  cursor: pointer;
}

.microphoneWrapper{
  width: 100%;
  max-width: 600px;
}